<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag login_url do %>
    <fieldset>
      <legend>欢迎登录</legend>
      <div>
        <%= label_tag :name,'登录名' %>
        <%= text_field :name,params[:name] %>
      </div>

      <div>
        <%= label_tag :password,'密码' %>
        <%= password_field_tag :password, params[:password] %>
      </div>

      <div>
        <%= submit_tag "登录" %>
      </div>
    </fieldset>
  <% end %>
</div>

