<p id="notice"><%= notice %></p>

<p>
  <strong>Taskcode:</strong>
  <%= @task.taskcode %>
</p>

<p>
  <strong>Taskname:</strong>
  <%= @task.taskname %>
</p>

<p>
  <strong>Taskdesc:</strong>
  <%= @task.taskdesc %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @task.template.name %>
  (<%= @task.template.desc %>)
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
